<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anzahl von Scheren, Steinen, Papieren, Echsen und Spocks</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Symbol-Datenbank</h1>
    <table>
        <tr>
            <th>Symbole</th>
            <th>Anzahl</th>
        </tr>
        <tr>
            <td>Schere</td>
            <td>{{ data[0] }}</td>
        </tr>
        <tr>
            <td>Stein</td>
            <td>{{ data[1] }}</td>
        </tr>
        <tr>
            <td>Papier</td>
            <td>{{ data[2] }}</td>
        </tr>
        <tr>
            <td>Echse</td>
            <td>{{ data[3] }}</td>
        </tr>
        <tr>
            <td>Spock</td>
            <td>{{ data[4] }}</td>
        </tr>
    </table>
</body>
</html>
